.grid {
	padding: 0;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: var(--space-m);
	list-style: none;
	max-width: none;
}

.item {
	grid-column: span 8;
}

.item > * {
	height: 100%;
}

@media (min-width: 560px) {
	.item {
		grid-column: span 4;
	}
}

@media (min-width: 1024px) {
	.item {
		grid-column: span 2;
	}
}
