.header {
	padding-top: var(--space-m-l);
}

.nav {
	display: grid;
	column-gap: var(--space-l);
	grid-template-columns: 1fr max-content 1fr;
	grid-template-rows: auto;
	grid-template-areas: "left middle right";
	align-items: center;
}

.home {
	display: block;
	grid-area: middle;
	justify-self: center;
	line-height: 0;
}

@media (max-width: 959px) {
	.home[data-logo-layout="extended"] {
		display: none;
	}
}

@media (min-width: 960px) {
	.home[data-logo-layout="condensed"] {
		display: none;
	}
}

.left {
	grid-area: left;
}

.right {
	grid-area: right;
}

.right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-width: 0;
}

.right > * + * {
	margin-left: var(--space-l);
}

.list {
	justify-content: inherit;
	width: 100%;
}
