.header {
	padding-top: var(--space-m-l);
}

.nav {
	display: grid;
	column-gap: var(--space-l);
	grid-template-columns: 1fr max-content 1fr;
	grid-template-rows: auto;
	grid-template-areas: "left middle right";
	align-items: center;
}

.home {
	display: block;
	grid-area: middle;
	justify-self: center;
	line-height: 0;
}

@media (max-width: 959px) {
	.home[data-logo-layout="extended"] {
		display: none;
	}
}

@media (min-width: 960px) {
	.home[data-logo-layout="condensed"] {
		display: none;
	}
}

.left {
	grid-area: left;
}

.right {
	grid-area: right;
}

.right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-width: 0;
}

.right > * + * {
	margin-left: var(--space-l);
}

.list {
	justify-content: inherit;
	width: 100%;
}

.link {
	display: block;
	color: var(--color-gray-500);
	font-family: var(--font-family-accent);
	font-weight: 700;
	font-size: var(--step--1);
	padding: var(--space-3xs) 0;
	border-top: 3px transparent solid;
	border-bottom: 3px transparent solid;
	text-decoration: none;
	transition-property: 120ms color linear, 120ms border-color linear;
}

.link:hover {
	color: var(--color-black);
	border-bottom-color: var(--color-accent-500);
}
