@media (max-width: 559px) {
	.link {
		margin-top: var(--space-2xs);
	}
}

@media (min-width: 560px) {
	.header {
		display: flex;
		align-items: center;
	}

	.heading {
		margin-right: auto;
	}

	.link {
		margin-left: var(--space-xs);
	}
}
