.layout {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(2, auto);
	grid-template-areas:
		"thumbnail  header"
		"blurb      blurb";
	gap: theme("spacing.4");
}

.thumbnail {
	grid-area: thumbnail;
}

.header {
	grid-area: header;
	align-self: center;
}

.blurb {
	grid-area: blurb;
}
