.byline {
	font-family: var(--font-family-accent);
	color: var(--color-gray-500);
	font-weight: 700;
	font-size: var(--step--1);
}

.byline[data-size="lg"] {
	font-size: var(--step-0);
}

.link {
	color: inherit;
}
