.l-article__grid {
	--article-width: 88rem;
	--margin-width: calc(50vw - var(--article-width) / 2);
	display: grid;
	gap: var(--space-l-xl) var(--space-m);
	grid-template-columns:
		var(--margin-width)
		[content-start]
		repeat(8, 1fr)
		[content-end]
		var(--margin-width);
	justify-items: center;
}

.l-article__grid > * {
	grid-column: content-start / content-end;
	max-width: var(--measure-normal);
	width: 100%;
}

.l-article__block--extra-wide,
.l-article__block--full-width {
	max-width: none;
}

.l-article__block--full-width {
	grid-column: 1 / -1;
}

@media screen and (min-width: 960px) {
	.l-article__block--pull-left {
		grid-column-end: span 6;
		justify-self: start;
	}

	.l-article__block--pull-right {
		grid-column-start: span 6;
		justify-self: end;
	}
}

.l-article__header {
	padding-top: var(--space-2xl-3xl);
}

.l-article__header h1 {
	text-align: center;
	font-size: var(--step-5);
}

.l-article__body h2 {
	--flow-gap: var(--space-2xl);
}

.l-article__body h3 {
	--flow-gap: var(--space-xl);
}

.l-article__body h4 {
	--flow-gap: var(--space-l);
}

.l-article__body h4 + * {
	--flow-gap: var(--space-3xs);
}

.l-article__footer {
	background-color: var(--color-gray-100);
	padding: var(--space-xl-2xl) 0;
}
