body {
	color: var(--color-gray-900);
	font-size: var(--step-0);
	font-family: var(--font-family-body);
}

* {
	max-width: var(--measure-normal);
}

html,
body,
div,
article,
header,
nav,
main,
section,
footer {
	max-width: none;
}

a {
	color: var(--color-secondary-600);
}

h1 {
	font-family: var(--font-family-accent);
	font-size: var(--step-4);
	line-height: 1.25;
	letter-spacing: -0.02ch;
}

h2 {
	font-size: var(--step-3);
	line-height: 1.25;
	font-weight: 300;
}

h3 {
	font-size: var(--step-1);
	font-weight: 400;
}

h4 {
	font-size: var(--step--1);
	color: var(--color-accent-600);
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

h5 {
	font-size: var(--step-0);
}

h6 {
	font-size: var(--step--1);
}

figcaption {
	line-height: 1.33;
}

ol,
ul {
	padding-left: var(--space-l);
	margin: 0;
}

button {
	appearance: none;
	background: none;
	border: none;
	border-radius: var(--border-radius, 4px);
	font: inherit;
	color: inherit;
	padding: var(--space-2xs) var(--space-2xs);
	cursor: pointer;
}

svg {
	display: block;
}

:focus {
	outline: 3px var(--color-secondary-500) solid;
}

:focus:not(:focus-visible) {
	outline: none;
}

svg,
path,
polygon,
polyline {
	fill: currentColor;
	stroke: currentColor;
}
